<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Phone nbr:</strong>
    <%= employee.phone_nbr %>
  </p>

  <p>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= employee.job %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= employee.sex %>
  </p>

</div>
